@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');

*,
::after,
::before {
	box-sizing: content-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background: #222;
	background-image: url('https://source.unsplash.com/1600x900/?landscape');
	font-size: 120%;
}

.weather-card {
	background: rgba(48, 48, 48, 0.8);
	color: white;
	padding: 1.8em;
	border-radius: 30px;
	width: 100%;
	max-width: fit-content;
	margin: 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.search {
	display: flex;
	align-items: center;
	justify-content: center;
}

#search-button {
	color: white;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	margin: 0.5em;
	border-radius: 50%;
	border: none;
	height: 44px;
	width: 44px;
	outline: none;
	background: #7c7c7c2b;
}

input.search-bar {
	border: none;
	outline: none;
	padding: 0.4em 1em;
	border-radius: 24px;
	background: #7c7c7c2b;
	color: white;
	font-family: inherit;
	font-size: 105%;
	width: calc(100% - 100px);
}

button:hover {
	background: #7c7c7c6b;
}

#temp {
	margin: 0;
	margin-bottom: 0.4em;
}

.flex {
	display: flex;
	align-items: center;
	margin: 0 auto;
	width: fit-content;
}

#humidity,
#wind {
	font-size: 1.3rem;
	padding-left: 1rem;
}
.description {
	text-transform: capitalize;
	/* margin-left: 1rem; */
	font-size: 1.5rem;
}

.weather .loading {
	visibility: hidden;
	max-height: 20px;
	position: relative;
}

.weather .loading:after {
	visibility: visible;
	content: "Loading...";
	color: white;
	position: absolute;
	top: 0;
	left: 20px;
}


.add-data {
	color: fff !important;
	background: rgba(0, 0, 0, 0.1) !important;
	border-radius: 30px;
		width: auto;
	margin: auto;
	margin-bottom: 2rem;
}


.add-data ul {
	color: fff !important;
	background: rgba(0, 0, 0, 0) !important;
	align-items: center;
}

.add-data ul li {
	color: fff !important;
	background: rgba(0, 0, 0, 0) !important;
}

.list-group-item {
	color: aliceblue;
}

.list-group-item span {
	text-align: center;
}

h1 {
	padding: 1.5rem 1rem;
	margin-bottom: 0 !important;
}

#temp-c {
	font-size: 3.8rem;
	font-family: 'Montserrat', sans-serif;
}

#temp-f {
	font-size: 3.2rem;
	font-family: 'Montserrat', sans-serif;
}

#time {
	font-family: 'Montserrat', sans-serif;
}

.forecast-link {
	color: aliceblue;
	text-decoration: none;
	padding: 0.5rem 1.2rem;
	border: 1px dotted gray;
	border-radius: 20px;
	background: rgba(64, 64, 64, 0.6);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.forecast-link:hover {
	color: antiquewhite;
	cursor: pointer;
}

.forecast-container {
	margin-top: 1.2rem;
}

.weather-forecast {
	visibility: hidden;
}

.forecast-avg-temp-c,
.forecast-avg-temp-f {
	font-size: 1.8rem;
	font-family: 'Montserrat', sans-serif;
}

.forecast-min-temp-c,
.forecast-min-temp-f {
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}

.forecast-max-temp-c,
.forecast-max-temp-f {
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}

.temp {
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}

#datetime-container {
	margin: 0;
}

.forecast-datetime {
	font-size: larger;
	font-family: sans-serif;
	border: 1px dotted gray;
	border-radius: 20px;
	padding: 5px 40px;
	margin: 5px 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.forecast-info-container {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	border: 1px solid gray;
	border-radius: 20px;
	background-color: azure;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.forecast-info-container h2 {
	margin-top: 1.8rem;
}

.btn-close {
	background: rgba(180, 180, 180, 0.8) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
	}
		.modal-title {
			padding: .18rem .8rem;
			border: 1px transparent;
			border-radius: 8px;
			color: #222 !important;
			font-family: 'Exo', sans-serif;
			font-weight: bold;
			background-color: rgba(180, 180, 180, 0.5);
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
	
		.modal-dialog {
			max-width: 600px !important;
		}