@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');


body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background: #222;
	background-image: url('https://source.unsplash.com/1600x900/?landscape');
	font-size: 120%;
}

.weather-card {
	background: rgba(48, 48, 48, 0.8);
	color: white;
	padding: 1rem;
	border-radius: 30px;
	width: 100%;
	max-width: fit-content;
	margin: 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.search {
	display: flex;
	align-items: center;
	justify-content: center;
}

#search-button {
	color: white;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	margin: 0.5em;
	border-radius: 50%;
	border: none;
	height: 44px;
	width: 44px;
	outline: none;
	background: #7c7c7c2b;
}

input.search-bar {
	border: none;
	outline: none;
	padding: 0.4em 1em;
	border-radius: 24px;
	background: #7c7c7c2b;
	color: white;
	font-family: inherit;
	font-size: 105%;
	width: calc(100% - 90px);
}
.search-bar::placeholder {
	color: aliceblue;
	font-weight: 500;
}

button:hover {
	background: #7c7c7c6b;
}

#temp {
	margin: 0;
	margin-bottom: 0.4em;
}

.flex {
	display: flex;
	align-items: center;
	margin: 0 auto;
	width: fit-content;
}

.flex h2 {
	margin: 0 !important;
}
#humidity,
#wind {
	font-size: 1.3rem;
	padding-left: 1rem;
}
.humidity,
.wind {
	display: inherit;
	justify-content: right;
}

.wind-data,
.humidity-data {
	display: contents;
}
.description {
	text-transform: capitalize;
	text-align: center;
	font-size: 1.5rem;
}

.weather .loading {
	visibility: hidden;
	max-height: 20px;
	position: relative;
}

.weather .loading:after {
	visibility: visible;
	content: "Loading...";
	color: white;
	position: absolute;
	top: 0;
	left: 20px;
}


.add-data {
	color: fff !important;
	background: rgba(0, 0, 0, 0.1) !important;
	border-radius: 30px;
		width: auto;
	margin: auto;
	margin-bottom: 2rem;
}


.add-data ul {
	color: fff !important;
	background: rgba(0, 0, 0, 0) !important;
	align-items: center;
}

.add-data ul li {
	color: fff !important;
	background: rgba(0, 0, 0, 0) !important;
}

.list-group-item {
	color: aliceblue;
}

.list-group-item span {
	text-align: center;
}

h1 {
	padding: 1rem 0 1.5rem 0;
	margin-bottom: 0 !important;
}

#temp-c {
	font-size: 3.8rem;
	font-family: 'Montserrat', sans-serif;
}

#temp-f,
#temp-bar {
	font-size: 3rem;
	font-family: 'Montserrat', sans-serif;
}


.forecast-link {
	color: antiquewhite;
		font-family: 'Exo', sans-serif;
	text-decoration: none;
	cursor: pointer;
	padding: 0.5rem 1.2rem;
	border: 1px transparent #eee;
	border-radius: 20px;
	background: #7c7c7c2b;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.forecast-link:hover {
	color: antiquewhite;
	font-weight: bold;
		box-shadow: 0 4px 20px 0 rgba(32, 32, 32, 0.3), 0 6px 20px 0 rgba(32, 32, 32, 0.3);
}

.forecast-container {
	margin-top: 1.2rem;
}

.weather-forecast {
	visibility: hidden;
}

.forecast-avg-temp-c,
.forecast-avg-temp-f {
	font-size: 1.8rem;
	font-family: 'Montserrat', sans-serif;
}

.forecast-min-temp-c,
.forecast-min-temp-f {
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}

.forecast-max-temp-c,
.forecast-max-temp-f {
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}

.temp {
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}

#datetime-container {
	margin: 0;
}
.last-updated {
	font-size: 1.1rem;
}

.forecast-datetime {
	font-size: larger;
	font-family: sans-serif;
	border: 1px dotted gray;
	border-radius: 20px;
	padding: 5px 40px;
	margin: 5px 0px;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.19), -2px -2px 6px 0 rgba(0, 0, 0, 0.19);
}

.forecast-info-container {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	border: 1px solid gray;
	border-radius: 20px;
	background-color: azure;
}

.modal-body{
	padding: 0 1rem !important;
}
.modal-title {
	padding: .18rem .8rem;
	border: 1px transparent;
	border-radius: 20px;
		color: #fff !important;
	font-family: 'Exo', sans-serif;
	background: #7c7c7c2b;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.close-icon {
	width: 32px;
	height: 32px;
	margin: 0.4rem;
	padding: 0.4rem;
	cursor: pointer;
	border: 1px transparent;
	border-radius: 20px;
	background: #7c7c7c2b;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close-icon:hover {
	padding: 0.3rem;
}
.modal-dialog {
	max-width: 600px !important;
}
@media screen and (max-width: 400px) {
	#temp-c {
		font-size: 2.8rem !important;
	}

	#temp-f,
	#temp-bar {
		font-size: 2rem !important;
	}
}

.forecast-general-info-container{
	margin: 1.8rem 0.5rem 0 0.5rem;
	border: 1px transparent;
	border-radius: 20px;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.19), -2px -2px 6px 0 rgba(0, 0, 0, 0.19);
}

.hourly-flex {
	margin: 0 auto;
	width: fit-content;
}

.hourly-flex img {
	width: 32px;
	height: 32px;
}

.hourly-flex h6 {
	margin: 0 !important;
}
.hour{
	text-align: center;
	margin-bottom: 0;
}

.hour-container{
	padding: 1rem;
	margin-bottom: 0.5rem;
}
.hour-container h2{
	margin-bottom: 1rem;
}

.hourly-forecast-container{
	margin: 0.9rem 0 !important;
	border: 1px transparent;
	border-radius: 20px;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.19), -2px -2px 6px 0 rgba(0, 0, 0, 0.19);
}
