@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background: #222;
	/* background-image: url('https://source.unsplash.com/1600x900/?landscape'); */
	font-size: 120%;
}

.weather-card {
	background: #000000d0;
	color: white;
	padding: 1.8em;
	border-radius: 30px;
	width: 100%;
	max-width: 420px;
	margin: 1em;
}

.search {
	display: flex;
	align-items: center;
	justify-content: center;
}

#search-button {
	color: white;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	margin: 0.5em;
	border-radius: 50%;
	border: none;
	height: 44px;
	width: 44px;
	outline: none;
	background: #7c7c7c2b;
}

input.search-bar {
	border: none;
	outline: none;
	padding: 0.4em 1em;
	border-radius: 24px;
	background: #7c7c7c2b;
	color: white;
	font-family: inherit;
	font-size: 105%;
	width: calc(100% - 100px);
}

button:hover {
	background: #7c7c7c6b;
}

#temp {
	margin: 0;
	margin-bottom: 0.4em;
}

.flex {
	display: block ruby;
	align-items: center;
	margin: 0 auto;
}

.description {
	text-transform: capitalize;
	margin-left: 8px;
}

.weather .loading {
	visibility: hidden;
	max-height: 20px;
	position: relative;
}

.weather .loading:after {
	visibility: visible;
	content: "Loading...";
	color: white;
	position: absolute;
	top: 0;
	left: 20px;
}


.add-data {
	color: fff !important;
	background: rgba(0, 0, 0, 0.2) !important;
}


.add-data ul {
	color: fff !important;
	background: rgba(0, 0, 0, 0) !important;
}

.add-data ul li {
	color: fff !important;
	background: rgba(0, 0, 0, 0) !important;
}

.list-group-item {
	color: aliceblue;
}

h1 {
	padding: 1.8rem;
}

#temp-c {
	font-size: 3.8rem;
	font-family: 'Montserrat', sans-serif;
}

#temp-f {
	font-size: 3.4rem;
		font-family: 'Montserrat', sans-serif;
	}
	
	#datetime {
		font-family: 'Montserrat', sans-serif;
	}
	
	.forecast-link {
		color: aliceblue;
		text-decoration: none;
		padding: 0.2rem 1rem;
		border: 1px dotted gray;
		border-radius: 20px;
	}
	
	.forecast-link:hover {
		color: antiquewhite;
		cursor: pointer;
	}
	
	.forecast-container {
		margin-top: 1.2rem;
	}
	
	.weather-forecast {
		visibility: hidden;
	}
	
	.forecast-avg-temp-c,
	.forecast-avg-temp-f {
		font-size: 1.8rem;
		font-family: 'Montserrat', sans-serif;
	}
	
	.forecast-min-temp-c,
	.forecast-min-temp-f {
		font-size: 1.2rem;
		font-family: 'Montserrat', sans-serif;
	}
	
	.forecast-max-temp-c,
	.forecast-max-temp-f {
		font-size: 1.2rem;
		font-family: 'Montserrat', sans-serif;
}

.temp {
	font-size: 1.2rem;
	font-family: 'Montserrat', sans-serif;
}
#datetime-container {
	margin: 0;
}

.forecast-datetime {
	font-size: larger;
	font-family: sans-serif;
	border: 1px dotted gray;
	border-radius: 20px;
	padding: 5px 40px;
	margin: 5px 0px;
}

.forecast-info-container {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border: 1px solid gray;
	border-radius: 20px;
	background-color: azure;
}